.App {
  text-align: center;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.button{
  margin: 30px 0;
  padding: 10px 30px;
  font-size: 20px;
  background: none;
  font-weight: bold;
  border: 3px solid #000;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.numbers-balls{
  display: flex;
  justify-content: center;
}

.number{
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 25px;
}
